@import './tokens/space.css';
@import './tokens/color.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  color: var(--slate-12);
  background-color: var(--slate-1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1 1 0;
  /* text-align: center; */
}

button {
  all: unset;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--slate-12);
  background-color: var(--element-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--element-background-hover);
  border-color: var(--element-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--element-focusring);
}
